* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fonts, sans-serif;
}

body {
  font-family: fonts;
}

@font-face {
  font-family: fonts;
  src: url(../font/yekan-font/yekan-regular.ttf) format(ttf);
  src: url(../font/yekan-font/yekan-regular.woff) format(woff);
  src: url(../font/yekan-font/Yekan.ttf) format(ttf);
  src: url(../font/yekan-font/Yekan.eot) format(eot);
}
:root {
  --background-color: #e9ebeb;
  --hover: #3260cb;
  --text: #808080;
}

a {
  text-decoration: none;
  color: var(--text);
}

@media screen and (min-width: 360px) {
  .section-1 {
    display: none;
  }
  .body-style {
    background-color: rgb(224, 224, 224);
    position: relative;
  }
  /* section 2 */
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--background-color);
    border-radius: 5px;
    margin-top: 3rem;
  }
  .section-2 img {
    border: 10px solid var(--text);
    width: 200px;
    border-radius: 100%;
    margin-top: 2rem;
  }
  .section-2 h1 {
    margin-top: 1.5rem;
    color: var(--text);
    font-size: 2rem;
  }
  .section-2 p {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--text);
    text-align: center;
  }
  .section-2 button {
    cursor: pointer;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
    border-radius: 10px;
    border: 2px solid var(--hover);
    background-color: var(--hover);
    color: var(--background-color);
    font-size: 1.3rem;
  }
  .social-icons {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 2.5rem;
    color: var(--hover);
  }
  .social-icons a {
    margin-left: 1.5rem;
    transition-duration: 0.5s;
  }
  .social-icons a:hover {
    color: var(--hover);
  }
  .p-about {
    width: 80%;
  }
  /* section 3 */
  .section-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-color);
    color: rgb(0, 0, 0);
  }
  .sec-3 h1 {
    color: var(--hover);
    text-align: end;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
  }
  .sec-3 h6 {
    color: var(--text);
    font-size: 1.5rem;
    text-align: end;
    padding-right: 1rem;
  }
  .sec-3 h2 {
    border: 2px solid var(--text);
    width: 100%;
    margin-top: 1.5rem;
  }
  .sec-3 p {
    padding: 1rem;
    color: var(--text);
    text-align: center;
    margin-top: 1.2rem;
    font-size: 1.2rem;
  }
  .aboutMe {
    padding: 1rem;
    margin-top: 1.5rem;
    direction: rtl;
  }
  .aboutMe h3 {
    color: black;
  }
  .aboutMe span {
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: var(--text);
  }
  .navbar {
    padding: 0.3rem 1.3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
  }
  .navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .navbar button i {
    font-size: 1.5rem;
    color: gray;
    transition-duration: 0.5s;
  }
  .navbar button i:hover {
    color: black;
  }
  .navbar div {
    height: 100vh;
    width: 45%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
  }
  .visibility {
    visibility: hidden;
  }
  .navbar div button i {
    font-size: 2rem;
    color: gray;
    transition-duration: 0.5s;
    padding: 1rem;
  }
  .navbar div button i:hover {
    color: red;
  }
  .closeBtn ul li {
    list-style: none;
    transition-duration: 0.5s;
    text-align: end;
  }
  .closeBtn ul li a {
    display: flex;
    align-items: center;
  }
  .closeBtn ul a li i {
    margin-left: 0.2rem;
  }
  .closeBtn ul {
    padding: 1rem;
  }
  .closeBtn ul li {
    padding: 0.5rem;
  }
  .closeBtn ul li:hover {
    color: black;
  }
}
@media screen and (min-width: 992px) {
  /* section 1 */
  .section-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 1rem;
  }
  .section-div-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0.5rem;
  }
  .section-1 button {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
    color: var(--text);
    background-color: var(--background-color);
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  .section-1 button:hover {
    color: white;
    background-color: var(--hover);
  }
  .section-1 button i {
    font-size: 1rem;
    margin-left: 0.1rem;
  }
  .section-1 div a {
    text-decoration: none;
    color: var(--text);
  }
  .active-select {
    margin-right: 1rem;
    background-color: transparent;
  }
  .about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
    transition-duration: 0.5s;
  }
  .about-me h1 {
    margin-right: 0.5rem;
  }
  .icon-nav {
    font-size: 1.5rem;
    text-align: center;
    color: var(--hover);
    transition-duration: 0.6s;
  }
  .about-me:hover {
    background-color: var(--hover);
    color: white;
  }
  .about-me:hover .icon-nav {
    color: white;
  }
  .section-2 {
    width: 45%;
    margin-top: 0;
  }
  .section-3 {
    width: 45%;
  }
  .p-about {
    width: 80%;
  }
  .navbar {
    display: none;
  }
  .box-style {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 360px) {
  .header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.3rem;
  }
  .header-text button {
    padding: 0.5rem 2rem;
    background-color: var(--text);
    border: none;
    border-radius: 5px;
    color: var(--background-color);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .header-text button:hover {
    opacity: 0.8;
  }
  .card-resume {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-cards {
    border: 1px solid rgb(172, 171, 171);
    padding: 1rem;
    border-radius: 5px;
    transition-duration: 0.5s;
  }
  .about-cards:hover {
    border: 1px solid rgb(102, 101, 101);
  }
  .card-resume div a img {
    width: 100%;
    border-radius: 5px;
  }
  .info-card {
    margin-bottom: 1rem;
  }
  .info-developer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .info-developer h4 span {
    color: var(--hover);
  }
  .clock-developed {
    color: rgb(55, 55, 55);
  }
  .info-developer h4 i {
    margin-left: 0.2rem;
  }
  .myInfo {
    padding: 0.5rem 2rem;
  }
  .allAboutMe {
    padding: 0.5rem 2rem;
  }
  .btnLang {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnLang button {
    padding: 0.5rem 2rem;
    background-color: #5660f2;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
  }
  .myInfo {
    text-align: center;
    margin-top: 2rem;
  }
  .myInfo img {
    width: 30%;
    border-radius: 50%;
  }
  .yourName {
    color: black;
  }
  .aboutMee {
    text-align: start;
  }
  .myInfo div h3, .allAboutMe div h2 {
    color: #5660f2;
  }
  .myInfo div h4 {
    margin-bottom: 0.5rem;
  }
  .contantUs h4 {
    display: flex;
    justify-content: space-between;
  }
  .contantUs h3 {
    text-align: start;
  }
  .contantUs {
    margin-bottom: 2rem;
  }
  .jobs {
    text-align: start;
    margin: 1rem 0;
  }
  .jobs h3, .jobs p {
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 0.5rem 0;
    padding: 0 1rem;
    font-weight: bold;
  }
  .aboutMee {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .aboutMee h4 {
    display: flex;
    justify-content: space-between;
  }
  .aboutMee h4 span {
    color: gray;
  }
  .getintouch h3, .skill h3, .skills h3 {
    padding: 0.2rem 2rem;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    border-radius: 10px;
    margin: 0.5rem 0;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  .getintouch h3:hover, .skill h3:hover, .skills h3:hover {
    background-color: #5660f2;
    color: white;
  }
  .skills h3 i {
    color: black;
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
  .title-skils {
    margin-top: 1rem;
  }
  .univercity h3 {
    font-size: 1rem;
    color: gray;
    margin-top: 0.5rem;
    padding: 0 1rem;
  }
  .contactUsPage img {
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    position: absolute;
  }
  .w-contact {
    position: relative;
  }
  .w-contactUs {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
  }
  .w-contactUs h2 {
    color: #5660f2;
  }
  .w-contactUs p {
    padding: 0 1rem;
    margin-top: 1rem;
    color: gray;
  }
  .w-sendMasseage {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
  .w-FormContactUs {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: 100%;
    height: 340px;
    border-radius: 5px;
  }
  .w-FormContactUs h3 {
    margin-bottom: 1rem;
    color: #5660f2;
  }
  .w-FormContactUs input {
    margin-bottom: 2rem;
    padding: 0.3rem;
    border: none;
  }
  .w-FormContactUs input:focus {
    outline: none;
    border-bottom: 1px solid gray;
  }
  .w-FormContactUs button {
    border-radius: 5px;
    transition-duration: 0.5s;
    font-weight: bold;
    padding: 0.3rem;
    cursor: pointer;
    background-color: #5660f2;
    color: white;
    border: none;
    border: 1px solid gray;
  }
  .w-FormContactUs button:hover {
    background-color: transparent;
    color: gray;
  }
  .w-contactInfo {
    text-align: end;
    margin-top: 3rem;
  }
  .w-contactPhone, .w-contactEmail {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1rem;
  }
  .w-contactPhone div, .w-contactEmail div {
    margin-left: 1rem;
  }
  .w-contactPhone div h2 i, .w-contactEmail div h2 i {
    font-size: 2rem;
    color: #5660f2;
  }
  .w-contactPhone div h4, .w-contactEmail div h4 {
    color: rgb(80, 80, 80);
  }
  .w-sendMasseage {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 680px) {
  .card-resume {
    grid-template-columns: 1fr;
  }
  .about-cards {
    display: flex;
    align-items: center;
  }
  .info-card p {
    color: var(--text);
  }
  .card-resume div div a img {
    width: 90%;
    height: 200px;
  }
  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .w-contactUs p {
    padding: 0 8rem;
  }
  .w-sendMasseage {
    display: flex;
    justify-content: space-evenly;
  }
  .w-FormContactUs {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .card-resume {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .info {
    display: flex;
  }
  .btnLang {
    display: none;
  }
  .myInfo img {
    width: 150px;
  }
  .pads {
    padding: 1rem;
  }
  .contantUs h4 {
    font-size: 0.9rem;
  }
  .contantUs h3 {
    margin-bottom: 1rem;
  }
  .aboutMee h3 {
    margin-bottom: 1rem;
  }
  .proggresChart {
    padding: 2rem;
  }
  .progress-bar {
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
