// responsive site
@media screen and (min-width: 360px) {
    // back button
    .header-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem;
    }
    .header-text button {
      padding: 0.5rem 2rem;
      background-color: var(--text);
      border: none;
      border-radius: 5px;
      color: var(--background-color);
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition-duration: 0.5s;
    }
    .header-text button:hover {
      opacity: 0.8;
    }
    // main style
    .card-resume {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-cards {
        border: 1px solid rgb(172, 171, 171);
        padding: 1rem;
        border-radius: $border-radius;
        transition-duration: $traduration-border;
    }
    .about-cards:hover {
        border: 1px solid rgb(102, 101, 101);
    }
    .card-resume div a img{
        width: 100%;
        border-radius: $border-radius;
    }
    .info-card {
        margin-bottom: 1rem;
    }
    .info-developer {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
    }
    .info-developer h4 span {
        color: var(--hover);
    }
    .clock-developed {
        color: rgb(55, 55, 55);
    }
    .info-developer h4 i {
        margin-left: 0.2rem;
    }
    ///////////// about Me//////////////////////////
    .myInfo {
        padding: 0.5rem 2rem;
    }
    .allAboutMe {
        padding: 0.5rem 2rem;
    }
    .btnLang {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnLang button {
        padding: 0.5rem 2rem;
        background-color: #5660f2;
        color: white;
        border-radius: 20px;
        cursor: pointer;
        border: none;
    }
    .myInfo {
        text-align: center;
        margin-top: 2rem;
    }
    .myInfo img {
        width: 30%;
        border-radius: 50%;
    }
    .yourName {
        color: black;
    }
    .aboutMee {
        text-align: start;
    }
    .myInfo div h3, .allAboutMe div h2 {
        color: #5660f2;
    }
    .myInfo div h4 {
        margin-bottom: 0.5rem;
    }
    .contantUs h4{
        display: flex;
        justify-content: space-between;
    }
    .contantUs h3 {
        text-align: start;
    }
    .contantUs {
        margin-bottom: 2rem;
    }
    .jobs {
        text-align: start;
        margin: 1rem 0;
    }
    .jobs h3,.jobs p {
        display: flex;
        justify-content: space-between;
        color: gray;
        margin: 0.5rem 0;
        padding: 0 1rem;
        font-weight: bold;
    }
    .aboutMee {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .aboutMee h4 {
        display: flex;
        justify-content: space-between;
    }
    .aboutMee h4 span{
        color: gray;
    }
    .getintouch h3, .skill h3, .skills h3 {
        padding: 0.2rem 2rem;
        background-color: transparent;
        border: 1px solid gray;
        color: gray;
        border-radius: 10px;
        margin: 0.5rem 0;
        transition-duration: $traduration-border;
        cursor: pointer;
    }
    .getintouch h3:hover, .skill h3:hover, .skills h3:hover {
        background-color: #5660f2;
        color: white;
    }
    .skills h3 i {
        color: black;
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
    }
    .title-skils {
        margin-top: 1rem;
    }
    .univercity h3 {
        font-size: 1rem;
        color: gray;
        margin-top: 0.5rem;
        padding: 0 1rem;
    }
    ////////////// End about me /////////////////
    ///////////// Contact us ////////////////////
    .contactUsPage img {
        width: 100vw;
        height: 100vh;
        opacity: 0.2;
        position: absolute;
    }
    .w-contact {
        position: relative;
    }
    .w-contactUs {
        text-align: center;
        padding: 2rem;
        font-weight: bold;
    }
    .w-contactUs h2 {
        color: #5660f2;
    }
    .w-contactUs p {
        padding: 0 1rem;
        margin-top: 1rem;
        color: gray;
    }
    .w-sendMasseage {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }
    .w-FormContactUs {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 1rem;
        width: 100%;
        height: 340px;
        border-radius: $border-radius;
    }
    .w-FormContactUs h3 {
        margin-bottom: 1rem;
        color: #5660f2;
    }
    .w-FormContactUs input {
        margin-bottom: 2rem;
        padding: 0.3rem;
        border: none;
    }
    .w-FormContactUs input:focus {
        outline: none;
        border-bottom: 1px solid gray;
    }
    .w-FormContactUs button {
        border-radius: $border-radius;
        transition-duration: $traduration-border;
        font-weight: bold;
        padding: 0.3rem;
        cursor: pointer;
        background-color: #5660f2;
        color: white;
        border: none;
        border: 1px solid gray;
    }
    .w-FormContactUs button:hover {
        background-color: transparent;
        color: gray;
    }
    .w-contactInfo {
        text-align: end;
        margin-top: 3rem;
    }
    .w-contactPhone , .w-contactEmail{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 1rem;
    }
    .w-contactPhone div, .w-contactEmail div {
        margin-left: 1rem;
    }
    .w-contactPhone div h2 i , .w-contactEmail div h2 i{
        font-size: 2rem;
        color: #5660f2;
    }
    .w-contactPhone div h4,.w-contactEmail div h4 {
        color: rgb(80, 80, 80);
    }
    .w-sendMasseage {
        margin-top: 2rem;
    }
    /// //////////End contact us ///////////////
}
@media screen and (min-width: 680px) {
    .card-resume {
        grid-template-columns: 1fr;
    }
    .about-cards {
        display: flex;
        align-items: center;
    }
    .info-card p {
        color: var(--text);
    }
    .card-resume div div a img {
        width: 90%;
        height: 200px;
    }
    //////// about me skils button ///////////////
    .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    // 
    .w-contactUs p {
        padding: 0 8rem;
    }
    .w-sendMasseage {
        display: flex;
        justify-content: space-evenly;
    }
    .w-FormContactUs {
        width: 35%;
    }
}
@media screen and (min-width: 1024px) {
    .card-resume {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .info {
        display: flex;
    }
    .btnLang {
        display: none;
    }
    .myInfo img {
        width: 150px;
    }
    .pads {
        padding: 1rem;
    }
    .contantUs h4 {
        font-size: 0.9rem;
    }
    .contantUs h3 {
        margin-bottom: 1rem;
    }
    .aboutMee h3 {
        margin-bottom: 1rem;
    }
    // chart skils
    .proggresChart {
        padding: 2rem;  
    }
    .progress-bar {
        border-radius: 10px;
    }
}