    /* section 1 */
  
  .section-1 a {
    text-decoration: none;
    color: var(--text);
  }
  
  .about-me {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: var(--background-color);
    transition-duration: 0.6s;
  }
  
  .about-me h1 {
    margin-top: 1rem;
  }
  
  .icon-nav {
    font-size: 2rem;
    text-align: center;
    color: var(--hover);
    transition-duration: 0.6s;
  }
  
  .about-me:hover {
    .icon-nav {
      color: white;
    }
    background-color: var(--hover);
    color: white;
  }
  
  /* section 2 */
  
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: var(--background-color);
    border-radius: 5px;
  }
  
  .section-2 img {
    border: 10px solid var(--text);
    width: 200px;
    border-radius: 100%;
    margin-top: 2rem;
  }
  
  .section-2 h1 {
    margin-top: 1.5rem;
    color: var(--text);
    font-size: 2rem;
  }
  
  .section-2 p {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--text);
    text-align: center;
  }
  
  .section-2 button {
    cursor: pointer;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
    border-radius: 10px;
    border: 2px solid var(--hover);
    background-color: var(--hover);
    color: var(--background-color);
    font-size: 1.3rem;
  }
  
  .social-icons {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 2.5rem;
    color: var(--hover);
  }
  
  .social-icons a {
    margin-left: 1.5rem;
    transition-duration: $traduration-border;
  }
  .social-icons a:hover {
    color: var(--hover);
  }
  
  .p-about {
    width: 80%;
  }
  
  /* section 3 */
  
  .section-3 {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--background-color);
    color: rgb(0, 0, 0);
  }
  
  .sec-3 h1 {
    color: var(--hover);
    text-align: end;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
  }
  .sec-3 h6 {
    color: var(--text);
    font-size: 1.5rem;
    text-align: end;
    padding-right: 1rem;
  }
  
  .sec-3 h2 {
    border: 2px solid var(--text);
    width: 100%;
    margin-top: 1.5rem;
  }
  
  .sec-3 p {
    padding: 1rem;
    color: var(--text);
    text-align: center;
    margin-top: 1.2rem;
    font-size: 1.2rem;
  }
  
  .aboutMe {
    padding: 1rem;
    margin-top: 1.5rem;
    text-align: end;
  }
  
  .aboutMe h3 {
    color: black;
  }
  
  .aboutMe span {
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: var(--text);
  }